[submodule "themes/BlogRa"]
	path = themes/BlogRa
	url = https://github.com/rafed/BlogRa.git
[submodule "themes/huguette"]
	path = themes/huguette
	url = https://github.com/cathelijne/hugo-theme-huguette.git
